<div class="page-header">
  <h1 align="center">Short links</h1>
</div>
<ul class="nav nav-pils nav-justified">
  <li class="active"><a data-toggle="tab" href='#home'>Home</a></li>
  <li><a data-toggle="tab" href='#list'>List</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home">
    <div class="input-group">
      <input type="url" class="form-control" [(ngModel)]="longLink" name="url" id="url" placeholder="URL" (keyup.enter)="addItem(longLink)" required #url="ngModel">
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="addItem(longLink)" type="button">Go!</button>
      </span>
    </div>
    <h3 align="center" *ngIf="shortLink"> New Link: <a href="/link/{{shortLink}}">linkstask2017.azurewebsites.net/link/{{shortLink}} </a> </h3>
  </div>
  <div class="tab-pane" id="list">
    <div class="panel">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Short link</th>
            <th>Long link</th>
            <th>View count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of apiValue">
            <td><a href="/link/{{item.shortLink}}"> <a *ngIf="item.shortLink">linkstask2017.azurewebsites.net/link/</a>{{item.shortLink}} </a> </td>
            <td><a href={{item.longLink}}>{{item.longLink}}</a></td>
            <td>{{item.viewCount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
